@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Inter:wght@100;200;300;400&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@300&family=Mulish:wght@200&family=Open+Sans:wght@300&family=Playfair+Display&family=Raleway:wght@500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap");
body {
  width: 100vw;
  height: 100%;
  background: radial-gradient(85.28% 85.28% at 53.2% 30.05%, #1ABB9C 0%, #5F1854 100%);
}

body .block-menu {
  position: absolute;
  background: radial-gradient(85.28% 85.28% at 53.2% 30.05%, #1ABB9C 0%, #5F1854 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100%;
  left: -100vw;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: transparent;
  opacity: 0.9;
}

body .block-menu ul {
  margin: 0;
  list-style: none;
  color: #3B0944;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 49px;
}

body .block-menu ul li {
  text-shadow: -1px 0 1px #1ABB9C;
  text-decoration: underline;
}

body .block-menu ul li:hover {
  color: #fff;
  cursor: pointer;
}

body .menu-open {
  left: 0;
}

.navbar {
  padding-left: 50px;
  padding-right: 50px;
}

.navbar .container-nav .navbar-brand {
  margin-right: 0;
}

.navbar .container-nav h5 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 64px;
  margin-bottom: 0px;
  color: #1ABB9C !important;
  text-shadow: 1px 1px 1px #3B0944;
}

.navbar .container-nav .icon-menu {
  border: none;
  background: transparent;
}

.container {
  padding-top: 18px;
}

.container .img-train {
  width: 120px;
  height: 150px;
}

.container .btn-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 21px;
}

.container .btn-block .btn {
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#1ABB9C), to(#3B0944));
  background: linear-gradient(180deg, #1ABB9C 0%, #3B0944 100%);
  border-radius: 15px 0px 0px 0px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 11px;
  padding-left: 72px;
}

.container .btn-block img {
  display: block;
  padding-bottom: 8px;
}

.container .img-humans {
  margin-top: 20px;
  width: 160px;
  height: 200px;
}

.container-canvas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-canvas .row {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container-canvas .row .col-canvas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-canvas .row .col-canvas .canvas-img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container-canvas .row .col-canvas .canvas-img canvas {
  width: 100%;
  display: block;
  height: 80vh;
  border: solid green;
}

@media (max-width: 470px) {
  .navbar {
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar .container-nav h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 64px;
    color: #1ABB9C !important;
    text-shadow: 1px 1px 1px #3B0944;
  }
  .navbar .container-nav .icon-menu {
    border: none;
    background: transparent;
  }
}
/*# sourceMappingURL=style.css.map */