@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Inter:wght@100;200;300;400&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@300&family=Mulish:wght@200&family=Open+Sans:wght@300&family=Playfair+Display&family=Raleway:wght@500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap');

@import './module/page2';

$cartBg:  radial-gradient(85.28% 85.28% at 53.2% 30.05%, #1ABB9C 0%, #5F1854 100%);
$colorbtn: #ffffff;
$colorBgBtn:linear-gradient(180deg, #1ABB9C 0%, #3B0944 100%);
$colorH5: linear-gradient(180deg, #1ABB9C 30.77%, #3B0944 138.46%);
$colorP: #fff;

$mainColor1: #3B0944;


html,body{
   width: 100vw;
   height: 100%;
 background: $cartBg;

   .block-menu{
   // border:solid red 2px;
   position: absolute;
   background: $cartBg;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
width: 100vw;
height: 100%;

// padding-left: 10px;
// top: 90px;
left:-100vw;
transition: 0.5s;
background-color: transparent;
opacity: 0.9;
ul{
   margin: 0;
   list-style: none;
   color:$mainColor1;
   font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 49px;
li{
   text-shadow: -1px 0 1px #1ABB9C;
   text-decoration: underline;
}
li:hover{
   color: #fff;
   cursor: pointer;
}
}
      }
      .menu-open{
         left:0;
      }

}
// navbar
.navbar {
   padding-left: 50px;
   padding-right: 50px;
   .container-nav{
      .navbar-brand{
         margin-right: 0;
      }
      h5{
         font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 32px;
line-height: 64px;
margin-bottom: 0px;
color: #1ABB9C!important;
// background: linear-gradient(#1ABB9C 150%, #3B0944 -30%);
// -webkit-background-clip: text;
text-shadow: 1px 1px 1px #3B0944;
      }
      .icon-menu{
         border: none;
         background: transparent;
      }
    
      
   }
}
// main
.container{
 height: 100%;
   padding-top: 0px;
   .img-train{
      width: 120px;
      height: 150px;
   }
   .btn-block{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 21px;
      .btn{
         border:none;
   background: linear-gradient(180deg, #1ABB9C 0%, #3B0944 100%);
border-radius: 15px 0px 0px 0px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
padding-top: 10px;
padding-right: 30px;
padding-bottom: 11px;
padding-left: 72px;
// padding: 10px, 30px, 11px, 72px;
}
img{
   display: block;
   padding-bottom: 8px;
}
   }
   .humans-block{
      position: relative;
      overflow: hidden;
      display: flex;
      max-width: 320px;
      height: 200px;
      margin: 20px auto;
   //   border: solid red;
      .img-humans{
         display: block;
         position: absolute;
   margin-top: 0px;
   width: 160px;
   height: 160px;
}
.img-humans:nth-child(1){
   animation: animate1 25s  ease-in-out infinite;
left: -200px;
}
.img-humans:nth-child(2){
left: -200px;

   animation: animate2 20s  ease-in-out infinite;
animation-delay: 5s;
}
.img-humans:nth-child(3){
left: -200px;

   animation: animate3  15s  ease-in-out infinite;
animation-delay: 10s;
}
@keyframes animate1 {
   0%{
      left: -200px;
   }
   100%{
      left: 330px;
   }
}
@keyframes animate2 {
   0%{
    left: -200px;
   }
   100%{
   left: 330px;
   }
}
@keyframes animate3 {
   0%{
    left: -200px;
   }
   100%{
   left: 330px;
   }
}
   }

}





 


@media (max-width: 470px) {
   .navbar {
   padding-left: 0px;
   padding-right: 0px;
   .container-nav{
      h5{
         font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 28px;
line-height: 64px;
color: #1ABB9C!important;
// background: linear-gradient(#1ABB9C 150%, #3B0944 -30%);
// -webkit-background-clip: text;
text-shadow: 1px 1px 1px #3B0944;
      }
      .icon-menu{
         border: none;
         background: transparent;
      }
   }
}
}